.header__logo{
    height: 20px;
}

.hero {
    background-image: linear-gradient(rgba(0,0,0, .2), rgba(0,0,0, .9)), url("../assets/img/hero.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 95vh;
}

.hero__text{
    padding-bottom: 10rem;
}

.testimonio__section {
    background-color: #cccccc;
}