.header__logo{
    height: 20px;
}

.hero {
    background-image: linear-gradient(rgba(0,0,0, .2), rgba(0,0,0, .9)), url("../assets/img/hero.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 95vh;
}

.hero__text{
    padding-bottom: 10rem;
}

.testimonio__section {
    background-color: #cccccc;
}

.contacto__section {
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}