@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container__index {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
	grid-template-areas:
		'header			header'
        'hero			hero'
        'servicios		servicios'
		'testimonios    testimonios'
		'ubicacion		ubicacion'
		'footer	 		footer';
    font-family: 'Roboto Condensed', sans-serif;
}

.container__proyectos {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
	grid-template-areas:
		'header			header'
        'proyectos		proyectos'
		'footer	 		footer';
    font-family: 'Roboto Condensed', sans-serif;
}

.container__equipo {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
	grid-template-areas:
		'header			header'
        'equipo		    equipo'
		'footer	 		footer';
    font-family: 'Roboto Condensed', sans-serif;
}


.container__contacto {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
	grid-template-areas:
		'header			header'
        'contacto		contacto'
		'footer	 		footer';
    font-family: 'Roboto Condensed', sans-serif;
}


.container__servicio {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
	grid-template-areas:
		'header			header'
        'servicio   	servicio'
        'galery	        galery'
		'footer	 		footer';
    font-family: 'Roboto Condensed', sans-serif;
}





.header {
    grid-area: header;
}
.hero {
    grid-area: hero;
}
.servicios {
    grid-area: servicios;
}
.testimonios {
    grid-area: testimonios;
}
.ubicacion {
    grid-area: ubicacion;
}
.footer {
    grid-area: footer;
}
.proyectos{
    grid-area: proyectos;
}
.equipo{
    grid-area: equipo;
}
.contacto{
    grid-area: contacto;
}
.servicio{
    grid-area: servicio;
}
.galery{
    grid-area: galery;
}

/* -----------------HEADER-------------*/
.header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 0 5rem;
    align-items: center;
}
.header__logo {
    height: 70px;
}
.header__nav{
    display: flex;
}
.header__link {
    font-weight: 400;
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    padding: 0 1rem;
}
.header__item {
    display: inline-block;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}
.header__sublist{     
    position: absolute;
    padding: 15px;
    list-style-type: none;
    background-color: lightblue;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    opacity: 0;
    visibility: hidden;
}
.header__subitem a{
    text-decoration: none;
    color: black;
}
.header__item:hover .header__link{
    color: lightblue;
}
.header__item:hover > .header__sublist{
    opacity: 1;
    visibility: visible;
}







/* -----------------HERO-------------*/
.hero{
    background-image: url(../assets/img/hero.jpg);
    background-size: cover;
}
.hero__section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: flex-start;
    padding: 0 5rem;
}
.hero__tittle{
    font-weight: 700;
    font-size: 5.4rem;
    margin: 2rem 0;
}
.hero__slogan{
    text-align: justify;
    font-weight: 400;
    font-size: 2.5rem;
    margin: 2rem 0;
}
.hero__button{
    display: inline-block;
    background-color: black;
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    padding: 1rem;
}





/* -----------------SERVICIOS-------------*/
.servicios__section{
    display: flex;
    padding: 5rem 5rem;
    justify-content: space-evenly;
    gap: 10%;
    align-items: center;
}
.servicios__article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5%;
    box-shadow: 10px 10px 40px 0 #c5c5c5;
    padding: 2%;
}
.servicios__image{
    width: 12rem;
    padding-bottom: 2rem;
}
.servicios__tittle{
    text-align: justify;
    font-weight: 700;
    font-size: 2.5rem;
}
.servicios__description{
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    padding: 5%;
}
.servicios__link{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 1rem;
    border-radius: 10%;
    font-size: 1rem;
}




/* -----------------TESTIMONIOS-------------*/
.testimonios__section{
    background-color: #c5c5c5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 0 5rem;
    gap: 10%;
}
.testimonios__image{
    width: 50%;
}
.testimonios__image--item{
    width: 100%;
}
.testimonios__name {
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    width: 50%;
}
.testimonios__tittle {
    font-size: 2rem;
    font-weight: 700;
}
.testimonios__description{
    font-size: 1.5rem;
    font-weight: 400;
    text-align: justify;
}
.testimonios__link  {
    text-decoration: none;
    background-color: black;
    color: white;
    font-size: 1rem;
    padding: 2%;
}





/* -----------------UBICACION-------------*/
.ubicacion__section{
    display: flex;
    flex-direction: row;
    align-items: center;    
    padding: 0 5rem;
    gap: 10%;
}
.ubicacion__text{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.ubicacion__tittle{
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 2rem;
}
.ubicacion__description{
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
}
.ubicacion__map{
    width: 50%;
}
.ubicacion__map--item{
    width: 100%;
}




/* -----------------FOOTER-------------*/
.footer__section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0 5rem;
    background-color: black;
}
.footer__logo{
    height: 50px;
}
.footer__links a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    padding: 0 1rem;
}





/* -----------------CONTACTO-------------*/
.contacto__section{
    display: flex;
    flex-direction: row;
    min-height: 95vh;
    align-items: center;
    justify-content: center;
    padding: 0 5rem;
    gap: 10%;
    font-family: 'Roboto Condensed', sans-serif;
    background: rgb(63,190,251);
    background: linear-gradient(90deg, rgba(63,190,251,1) 0%, rgba(255,231,236,1) 100%);
}
.contacto__texto{
    width: 50%;
    line-height: 5rem;
}
.contacto__tittle{
    font-size: 2rem;
    font-weight: 700;
}
.contacto__description{
    font-size: 1.5rem;
    font-weight: 400;
}
.contacto__form{
    background-color:grey;
    padding: 2rem;
    border-radius: 2rem;
    width: 50%;
    overflow: hidden;
}
.contacto__form--item label, input {
    font-size: 1.5rem;
}
.contacto__button{
    color:white;
    background-color: black;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
}




/* -----------------PROYECTOS-------------*/
.proyectos__section{
    display: flex;
    flex-direction: column;
    padding: 0 5rem;
    justify-content: space-evenly;
    gap: 10%;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
}
.proyectos__article{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: 10px 10px 40px 0 #c5c5c5;
    gap: 10%;
    margin: 1rem 0;
}
.proyectos__image{
    width: 50%;
}
.proyectos__image--item{
    width: 100%;
}
.proyecto__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;    
}
.proyectos__tittle{
    font-weight: 700;
    font-size: 2.5rem;
    padding: 2% 0;
}
.proyectos__description{
    font-weight: 400;
    font-size: 1rem;
    padding: 2% 0;
}
.proyectos__link{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 1rem;
    font-size: 1rem;
    transition: background-color 0.2s;
}

.proyectos__link:hover {
    background-color: lightblue;
    color: black;
}



/* -----------------EQUIPO-------------*/
.equipo__section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0 5rem;
}
.equipo__integrantes{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10%;
}
.equipo__image{
    width: 50%;
}
.equipo__texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    line-height: 2rem;
}
.equipo__name{
    font-size: 2rem;
    font-weight: 700;
    padding: 2rem 0;
    align-self: flex-start;
}
.equipo__cv{
    font-size: 1rem;
    font-weight: 400;
}
.equipo__image--item{
    width: 100%;
}
.reverse__row{
    flex-direction: row-reverse;
}



/* -----------------INTERIORISMO-------------*/
.interiorismo__section{
    min-height: 62vh;
    display: flex;
    flex-direction: row;
    gap: 10%;
    padding: 0 5rem;
    align-items: center;  
    font-family: 'Roboto Condensed', sans-serif; 
}
.interiorismo__texto{
    width: 50%;
}
.interiorismo__tittle{
    padding: 2rem 0;
    font-size: 3rem;
    font-weight: 700;
}
.interiorismo__description{
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
}
.interiorismo__image{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}
.interiorismo__image--item{
    padding: 10% 0;
    width: 100%;
}
.interiorismo__galery{
    height: 25vh;
    background-color: #c5c5c5;
    display: flex;
    padding: 0 10%;
    align-items: center;
    justify-content: space-around;
}
.interiorismo__galery--item{
    max-height: 80%;
}




/* -----------------CONSTRUCCION-------------*/
.construccion__section{
    min-git height: 62vh;
    display: flex;
    flex-direction: row;
    gap: 10%;
    padding: 0 5rem;
    align-items: center;  
    font-family: 'Roboto Condensed', sans-serif; 
}
.construccion__texto{
    width: 50%;
}
.construccion__tittle{
    padding: 2rem 0;
    font-size: 3rem;
    font-weight: 700;
}
.construccion__description{
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
}
.construccion__image{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}
.construccion__image--item{
    padding: 10% 0;
    width: 100%;
}
.construccion__galery{
    height: 25vh;
    background-color: #c5c5c5;
    display: flex;
    padding: 0 10%;
    align-items: center;
    justify-content: space-around;
}
.construccion__galery--item{
    max-height: 80%;
}



/* -----------------HOME STAGING-------------*/
.homestaging__section{
    min-height: 62vh;
    display: flex;
    flex-direction: row;
    gap: 10%;
    padding: 0 5rem;
    align-items: center;  
    font-family: 'Roboto Condensed', sans-serif; 
}
.homestaging__texto{
    width: 50%;
}
.homestaging__tittle{
    padding: 2rem 0;
    font-size: 3rem;
    font-weight: 700;
}
.homestaging__description{
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
}
.homestaging__image{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}
.homestaging__image--item{
    padding: 10% 0;
    width: 100%;
}
.homestaging__galery{
    height: 25vh;
    background-color: #c5c5c5;
    display: flex;
    padding: 0 10%;
    align-items: center;
    justify-content: space-around;
}
.homestaging__galery--item{
    max-height: 80%;
}



/* -----------------MEDIA QUERYS-------------*/
@media screen and (max-width: 767px) {
    .container__index {               /*-----------INDEX--------------*/
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        grid-template-areas:
            'header'
            'hero'
            'servicios'
            'testimonios'
            'ubicacion'
            'footer';
        font-family: 'Roboto Condensed', sans-serif;
    }
    .header{
        background-color:black;
        flex-direction: column;
    }
    .header__logo{
        height: 50px;
    }
    .header__list{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;
        font-size: 2rem;
    }
    .header__item:hover > .header__sublist{
        opacity: 0;
        visibility: none;
    }



    .hero__section{
        padding: 0 0.5rem;
    }



    .servicios__section{
        flex-direction: column;
        padding: 1rem 1rem;
    }
    .servicios__article{
        margin: 1rem 0;
    }
    .servicios__image{
        display: none;
    }
    .servicios__tittle{
        font-size: 2.5rem;
    }
    .servicios__description{
        font-size: 1.5rem;
    }
    .servicios__link{
        font-size: 1.5rem;
        text-align: center;
        width: 100%;
        border-radius: 0;
    }


    .testimonios__section{
        flex-direction: column;
        padding: 0;
    }
    .testimonios__image{
        width: 100%;
    }
    .testimonios__name{
        width: 90%;
    }
    .testimonios__tittle{
        font-size: 2.5rem;
        padding-top: 1rem;
    }
    .testimonios__description{
        font-size: 1.5rem;
    }
    .testimonios__link{
        margin-bottom: 1rem;
    }



    .ubicacion__section{
        flex-direction: column;
        padding: 1rem 1rem;
    }
    .ubicacion__text{
        width: 100%;
    }
    .ubicacion__map{
        width: 100%;
    }



    .footer__section{
        padding: 0 1rem;
    }
    .footer__links a{
        font-size: 1rem;
    }







    .container__proyectos {                   /*-----------PROYECTOS--------------*/
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        grid-template-areas:
            'header'
            'proyectos'
            'footer';
        font-family: 'Roboto Condensed', sans-serif;
    }
    .proyectos__section{
        padding: 0 1rem;
    }
    .proyectos__article{
        flex-direction: column;
    }
    .proyectos__image{
        width: 100%;
    }
    .proyecto__text{
        width: 100%;
    }
    .reverse{
        flex-direction: column-reverse;
    }




    .container__equipo {                  /*-----------EQUIPO--------------*/
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        grid-template-areas:
            'header'
            'equipo'
            'footer';
        font-family: 'Roboto Condensed', sans-serif;
    }
    .equipo__section{
        padding: 0 1rem;
    }
    .equipo__integrantes{
        flex-direction: column;
    }
    .equipo__image{
        width: 100%;
    }
    .equipo__texto{
        width: 100%;
    }
    .equipo__cv{
        display: none;
    }
    
    


    .container__contacto {                  /*-----------CONTACTO--------------*/
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        grid-template-areas:
            'header'
            'contacto'
            'footer';
        font-family: 'Roboto Condensed', sans-serif;
    }
    .contacto__section{
        padding: 0 1rem;
        flex-direction: column;
        min-height: 0;
    }
    .contacto__texto{
        width: 100%;
        padding: 3rem 0;
    }
    .contacto__form{
        width: 100%;
        padding: 0;
        border-radius: 0;
        margin-bottom: 3rem;
        background-color: transparent;
    }
    .contacto__button{
        margin: 1rem;
    }



    .container__servicio {                   /*-----------INTERIORISMO--------------*/
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        grid-template-areas:
            'header'
            'servicio'
            'galery'
            'footer';
        font-family: 'Roboto Condensed', sans-serif;
    }
    .interiorismo__section{
        padding: 0 1rem;
        flex-direction: column;
        min-height: 0;
        gap: 0%;
    }
    .interiorismo__texto{
        width: 100%;
    }
    .interiorismo__image{
        width: 100%;
    }
    .interiorismo__galery{
        display: none;
    }



    .construccion__section{                 /*-----------CONSTRUCCION--------------*/
        padding: 0 1rem;
        flex-direction: column;
        min-height: 0;
        gap: 0%;
    }
    .construccion__texto{
        width: 100%;
    }
    .construccion__image{
        width: 100%;
    }
    .construccion__galery{
        display: none;
    }




    .homestaging__section{                /*-----------HOME STAGING--------------*/
        padding: 0 1rem;
        flex-direction: column;
        min-height: 0;
        gap: 0%;
    }
    .homestaging__texto{
        width: 100%;
    }
    .homestaging__image{
        width: 100%;
    }
    .homestaging__galery{
        display: none;
    }


}
