.card {
    border-radius: 1rem;
    box-shadow: 8px 9px 19px -3px rgba(0, 0, 0, 0.15);
}

.hero__button {
    background: transparent;
    position: relative;
    color: white;
    text-decoration: none;
}

.hero__button::after {
    content: "";
    position: absolute;
    background: map-get($palette, terciario);
    height: 0.5em;
    width: 65%;
    left: 0;
    top: 60%;
    z-index: -1;
    transition: transform 250ms cubic-bezier(0.91, 0, 0.55, 1.64);
    transform-origin: bottom left;
}

.hero__button:hover::after {
    transform: scale(1.5, 3.5);
}

.backToTop {
    position: absolute;
    height: 2rem;
    right: 10vw;
}
