$palette: (
    primario: #00a9c0,
    secundario: #e6f4f1,
    terciario: #ff8b42,
    cuartenario: #cccccc,
    acento: tomato,
);

@each $servicio in interiorismo, construccion, homestaging {
    .imagen__#{$servicio} {
        height: 25rem;
        background: url(../assets/img/#{$servicio}.jpg) no-repeat center / cover;
        border-radius: 8px;
    }
}
