$palette:(
    primario: #00A9C0,
    secundario: #E6F4F1,
    terciario: #FF8B42,
    cuartenario: #cccccc,
);


@each $servicio in interiorismo, construccion, homestaging {
    .imagen__#{$servicio}{
        height: 25rem;
        background: url(../assets/img/#{$servicio}.jpg) no-repeat center / cover;
        border-radius: 8px;
    }  
};

.card{
    border-radius: 1rem;
    box-shadow: 8px 9px 19px -3px rgba(0,0,0,0.15);
}