.tarjeta__servicio{
    background-color: #E6F4F1;
    margin-left: -5%;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 8px 9px 19px -3px rgba(0,0,0,0.15);
}

.imagen__interiorismo{
    height: 25rem;
    background: url(../assets/img/interiorismo.jpg) no-repeat center / cover;
    border-radius: 8px;
}