.servicios__section{
    margin-top: -10%;
}

.card{
    border-radius: 1rem;
    box-shadow: 8px 9px 19px -3px rgba(0,0,0,0.15);
    &:hover{
        transform: scale(1.1)   
    }
}

.servicios__button{
    background-color: $colorPrimario;
    text-transform: uppercase;
    color: white;
}