@import "../utilities/variables";

.servicios__section {
    margin-top: -10%;
}

.servicios__card {
    @extend .card;
    transition: all 50ms;
    &:hover {
        transform: scale(1.1);
    }
}

.servicios__button {
    background-color: map-get($palette, primario);
    text-transform: uppercase;
    color: white;
    &:hover {
        filter: brightness(0.6);
    }
}
