@import "../utilities/variables";

.servicios__section {
    margin-top: -10%;
}

.servicios__card {
    @extend .card;
    transition: all 50ms;
    &:hover {
        transform: scale(1.015);
    }
}

.servicios__image {
    @media screen and (max-width: 768px) {
        width: 80%;
    }
}

.servicios__button {
    background-color: map-get($palette, primario);
    text-transform: uppercase;
    color: black;
    font-weight: 500;
    &:hover {
        background-color: map-get($palette, primario);
        filter: brightness(1.1);
    }
}
